[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/zoobych/app
ExecStart=/home/zoobych/app/venv/bin/python main.py

[Install]
WantedBy=multi-user.target
